
<div class="container">
    <h2>Animals List</h2>
        
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {{#if animals.length}}
        {{#each animals}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>
            <a href="/update_animal/{{id}}"><i class="fa fa-edit mr-3"></i></a>
            <a href="/animals/{{id}}"><i class="fa fa-trash text-danger mr-3"></i></a>
            <a href="/about_animal/{{id}}">Batafsil</i></a>
        </td>
      </tr>
        {{/each}}
        {{else}}
        <h1>No Animals</h1>
        {{/if}}
      
    </tbody>
  </table>
</div>