
<div class="container">
    <h2>Fruits List</h2>
        
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {{#if fruits.length}}
        {{#each fruits}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>
            <a href="/update_fruits/{{id}}"><i class="fa fa-edit mr-3"></i></a>
            <a href="/fruits/{{id}}"><i class="fa fa-trash text-danger mr-3"></i></a>
            <a href="/one_fruit/{{id}}">Batafsil</a>
        </td>
      </tr>
        {{/each}}
        {{else}}
        <h1>No Fruits</h1>
        {{/if}}
      
    </tbody>
  </table>
</div>