
<div class="container">
    <h2>Cars List</h2>
        
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Model</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {{#if cars.length}}
        {{#each cars}}
      <tr>
        <td>{{id}}</td>
        <td>{{model}}</td>
        <td>{{price}}</td>
        <td>{{brand}}</td>
        <td>
            <a href="/update_car/{{id}}"><i class="fa fa-edit mr-3"></i></a>
            <a href="/cars/{{id}}"><i class="fa fa-trash text-danger mr-3"></i></a>
            <a href="/about_car/{{id}}">Batafsil</i></a>
        </td>
      </tr>
        {{/each}}
        {{else}}
        <h1>No Cars</h1>
        {{/if}}
      
    </tbody>
  </table>
</div>